{% extends 'base.html' %} {% load static %} 

{% block header%}
<title>myRoute</title>

<style>
    .inpu{
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .buto{
        display: inline-block;
        margin-left: 600px;
        
    }

</style>
{{map.header.render|safe}}

{% endblock header %}

{% block content %}

<div class="inpu">StartDate = {{startdate}} </div>
<div class="inpu">StartTime = {{startTime}} </div>
<div class="inpu">Description = {{description}}</div>
<div class="inpu">Petfriendly = {{petfriendly}} </div>

<a href="../">
    <input type="button" value="Cancel" style="background-color:rgba(110, 110, 180, 0.692); border-radius:4px; color: black; margin-left: 15px;"/>
</a>

<form action="" method="POST" >
    {% csrf_token %}
    <input type="submit" value="Delete" style="background-color:rgba(110, 110, 180, 0.692); border-radius:4px; color: black; margin-left: 15px;">
</form>



    {% if map %}
    {{map.html.render|safe}}
    
    <script>
        {{map.script.render|safe}}
    </script>
    {% endif %}

{% endblock content %}