{% extends 'base.html' %} {% load static %} 
{% block header %}
<title>myRoute</title>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>

    <style>
        #map_map {
            position: absolute;
            top: 110px;
            bottom: 66px;
            right: 0px;
            width: 80%;
        }
    </style>
<style>

.inline{
    padding: 0;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

input[type=text]:focus {
  border: 3px solid #555;
  background-color: lightblue;
}

</style>
{% endblock header %}

{% block content %}
<h1>Please Fill the blank spaces</h1>
<br>
<div class="formu">
<form action="update/{{id}}" method="POST" class="inline">
    {% csrf_token %}

    
    <label >PetFriendly</label>
    {{form.petfriendly}}
    

    <label class="inline" placeholder="Your name..">Description:</label>
    {{form.description}}
    

    <label class="inline">Date:</label>
    {{form.startdate}}
    

    <label class="inline">Time:</label>
    {{form.startTime}}
    

    {{form.route}}
    <input type="submit" value="Update" style="background-color:rgba(110, 110, 180, 0.692); border-radius:4px; color: black;">

    <a href="./">
        <input type="button" value="Go Back" style="background-color:rgba(110, 110, 180, 0.692); border-radius:4px; color: black; margin-left: 15px;"/>
    </a>
    <a href="delete/{{id}}" >
        <input type="button" value="DeleteRoute" style="background-color:rgba(110, 110, 180, 0.692); border-radius:4px; color: black; margin-left: 15px;"/>
    </a>
    
</form>
<br><br>
</div>

   
    {% if map %}
    {{map.html.render|safe}}
    
    <script>
        {{map.script.render|safe}}
    </script>
    {% endif %}


{% endblock content %}

