{% extends 'base.html' %} {% load static %} 


{% block header %}

<style>
th{
    border-bottom: 1px solid #ddd !important;
}

tr:hover {background-color: rgba(114, 97, 211, 0.521);}
tr:nth-child(even) {background-color: #5756be63;}

.table1{
    display: inline-block;
    width: 370px;
    padding: 5px 5px;
    margin: 20px;
    text-align: left;
   
}
.table2{
    display: inline-block;
    width: 220px;
    padding: 5px 5px;
    margin: 20px;
    text-align: left;
}
.table3{
    display: inline-block;
    width: 220px;
    padding: 5px 5px;
    margin: 20px;
    text-align: left;
}
.table4{
    display: inline-block;
    width: 300px;
    padding: 5px 5px;
    margin: 20px;
    text-align: left;
}


</style>

{% endblock header %}

{% block content %}

    <div class="table1">
        <h3>My Routes</h3>
            <table>
                <thead>
                    <tr class="">
                        <th > Fecha </th>
                        <th > Descripcion </th>
                        <th >    </th>
                        <th >    </th>
                        <th >    </th>
                    </tr>
                </thead>
                {% for i in myRoutes %}
                <tbody>
                    <tr>
                        <th class=""> {{i.2}} </th>
                        <th class=""> {{i.3}} </th>
                        <th class=""> <a href="./{{i.5}}">
                                <input type="button" value="Config" style="background-color: rgba(110, 84, 184, 0.479); border-radius: 5px;"/>
                            </a>
                        </th>
                        <th class=""> 
                            <a href="./participants/{{i.5}}">
                                <input type="button" value="Participants" style="background-color: rgba(110, 84, 184, 0.479); border-radius: 5px;"/>
                            </a>
                        </th>
                        <th class=""> 
                          
                            <a href="./chat/{{i.5}}/{{user.username}}">
                                <input type="button" value="Chat" style="background-color: rgba(110, 84, 184, 0.479); border-radius: 5px;"/>
                            </a>
                            
                        </th>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
    </div>

    <div class="table2">
        <h3>Current Routes</h3>
        <table >
            <tr>
                <th> Fecha </th>
                <th> Descripcion </th>
                <th>    </th>
                <th>    </th>
            </tr>
            {% for i in currRoutes %}
            <tr>
                <th> {{i.2}} </th>
                <th> {{i.3}} </th>
                <th> <a href="./info/{{i.5}}">
                        <input type="button" value="Info" style="background-color: rgba(110, 84, 184, 0.479); border-radius: 5px;"/>
                    </a>
                </th>
            </th>
            <th class=""> 
                          
                <a href="./chat/{{i.5}}/{{user.username}}">
                    <input type="button" value="Chat" style="background-color: rgba(110, 84, 184, 0.479); border-radius: 5px;"/>
                </a>
                
            </th>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="table3">
        <h3>Waiting Routes</h3>
        <table  >
            <tr>
                <th> Fecha </th>
                <th> Descripcion </th>
                <th>    </th>
            </tr>
            {% for i in waitingRoutes %}
            <tr>
                <th> {{i.2}} </th>
                <th> {{i.3}} </th>
                <th> <a href="./info/{{i.5}}">
                        <input type="button" value="Info" />
                    </a>
                </th>
            </th>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="table4">
        <h3>Past Routes</h3>
        <table >
            <tr>
                <th> Fecha </th>
                <th> Descripcion </th>
                <th> </th>
            </tr>
            {% for i in lastRoutes %}
            <tr>
                <th> {{i.2}} </th>
                <th> {{i.3}} </th>
                <th> <a href="./reviews/{{i.5}}">
                    <input type="button" value="Participants" />
                </a>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% endblock content %}