{% extends 'base.html' %} {% load static %} {% block content %}

    
    <div>
        <h3>Mis rutas</h3>
        <table>
            <tr>
                <th> Fecha </th>
                <th> Descripcion </th>
                <th>    </th>
            </tr>
            {% for i in myRoutes %}
            <tr>
                <th> {{i.2}} </th>
                <th> {{i.3}} </th>
                <th> <a href="./{{i.5}}">
                        <input type="button" value="View" />
                    </a>
                </th>
            </tr>
            {% endfor %}
        </table>
        
    </div>

    <div>
        <h3>Rutas actuales</h3>

    </div>

    <div>
        <h3>Rutas pasadas</h3>
        <table>
            <tr>
                <th> Fecha </th>
                <th> Descripcion </th>
                <th> Estado </th>
            </tr>
            {% for i in lastRoutes %}
            <tr>
                <th> {{i.2}} </th>
                <th> {{i.3}} </th>
                <th> <a href="{{i.5}}">
                        <input type="button" value="View" />
                    </a>
                </th>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% endblock content %}