{% extends 'base.html' %} {% load static %} {% block content %}

    
    <div>
        <h3>Mis rutas</h3>
        <table>
            <tr>
                <th> Fecha </th>
                <th> Descripcion </th>
                <th>    </th>
                <th>    </th>
            </tr>
            {% for i in myRoutes %}
            <tr>
                <th> {{i.2}} </th>
                <th> {{i.3}} </th>
                <th> <a href="./{{i.5}}">
                        <input type="button" value="Config" />
                    </a>
                </th>
                <th> <a href="./participants/{{i.5}}">
                    <input type="button" value="Participants" />
                </a>
            </th>
            </tr>
            {% endfor %}
        </table>
        
    </div>

    <div>
        <h3>Current Routes</h3>
        <table>
            <tr>
                <th> Fecha </th>
                <th> Descripcion </th>
                <th>    </th>
            </tr>
            {% for i in currRoutes %}
            <tr>
                <th> {{i.2}} </th>
                <th> {{i.3}} </th>
                <th> <a href="./info/{{i.5}}">
                        <input type="button" value="Info" />
                    </a>
                </th>
            </th>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        <h3>Waiting Routes</h3>
        <table>
            <tr>
                <th> Fecha </th>
                <th> Descripcion </th>
                <th>    </th>
            </tr>
            {% for i in waitingRoutes %}
            <tr>
                <th> {{i.2}} </th>
                <th> {{i.3}} </th>
                <th> <a href="./info/{{i.5}}">
                        <input type="button" value="Info" />
                    </a>
                </th>
            </th>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        <h3>Past Routes</h3>
        <table>
            <tr>
                <th> Fecha </th>
                <th> Descripcion </th>
                <th> Estado </th>
            </tr>
            {% for i in lastRoutes %}
            <tr>
                <th> {{i.2}} </th>
                <th> {{i.3}} </th>
                <th> <a href="./reviews/{{i.5}}">
                    <input type="button" value="Participants" />
                </a>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% endblock content %}