{% extends 'base.html' %} {% load static %} 

{% block header%}

<style>
    th{
        border-bottom: 1px solid #ddd !important;
    }
    
    tr:hover {background-color: rgba(114, 97, 211, 0.521);}
    tr:nth-child(even) {background-color: #5756be63;}
    
    .table1{
        
        display: inline-block;
        width: 300px;
        padding: 5px 5px;
        margin: 20px;
        text-align: left;
       
    }
    .table2{
        
        display: inline-block;
        width: 300px;
        padding: 5px 5px;
        margin: 20px;
        text-align: left;
    }
    </style>

{% endblock header %}


{% block content %}
<div class="table1">
    <h3>Waiting</h3>
        <table >
            <tr>
                <th> Name </th>
                <th> LastName </th>
                <th> Reputation </th>
                <th>    </th>
            </tr>
            {% for i in waiting %}
                <tr>
                    <th>{{ i.1 }}</th>
                    <th>{{ i.2 }}</th>
                                    
                    <th> <form action="" method="POST">
                        {% csrf_token %}
                            <button name="accept" value="{{ i.0 }}">Accept</button>
                        </form>
                    </th>
                    <th> <form action="" method="POST">
                        {% csrf_token %}
                            <button name="deny" value="{{ i.0 }}">Deny</button>
                        </form>
                    </th>
                </tr>
            {% endfor %}
        </table>

</div>

<div class="table2">
    <h3>Accepted</h3>
        <table>
            <tr>
                <th> Name </th>
                <th> LastName </th>
                <th> Reputation </th>
                <th>    </th>
            </tr>
            {% for i in accepted %}
                <tr>
                    <th>{{ i.1 }}</th>
                    <th>{{ i.2 }}</th>
                    <th>{{ i.3 }}</th>           
                    <th> <form action="" method="POST">
                        {% csrf_token %}
                            <button name="delete" value="{{ i.0 }}">Delete</button>
                        </form>
                    </th>
                </tr>
            {% endfor %}
        </table>

</div>
{% endblock content %}