{% extends 'base.html' %} {% load static %} 
{% block header %}

<style>

.inline{
    padding: 0;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

input[type=text]:focus {
  border: 3px solid #555;
  background-color: lightblue;
}

</style>
{% endblock header %}

{% block content %}
<h1>Please Fill the blank spaces</h1>
<br>
<div class="formu">
    <form action="/createRoute" method="POST">
    {% csrf_token %}

    
    <label >PetFriendly</label>
    {{form.petfriendly}}
    

    <label class="inline" placeholder="Your name..">Description:</label>
    {{form.description}}
    

    <label class="inline">Date:</label>
    {{form.startdate}}
    

    <label class="inline">Time:</label>
    {{form.startTime}}
    
    {{form.route}}

        <input type="submit" value="Submit" style="background-color:rgba(110, 110, 180, 0.692); border-radius:4px; color: black;">
    
    <a href="../">
        <input type="button" value="Cancel" style="background-color:rgba(110, 110, 180, 0.692); border-radius:4px; color: black;"/>
    </a>
</form>

<br><br>
</div>


   {{map.header.render|safe}}
   
    {% if map %}
    {{map.html.render|safe}}
    
    <script>
        {{map.script.render|safe}}
    </script>
    {% endif %}


{% endblock content %}


    
    
